@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6E6FA; /* Lavander */   
}

.conteudoEntradas{
    width: 96%;
    height: 15%;
    display: flex;
    margin-top: 15px;
    border-radius: 15px 15px 0 0;
    background-color: white;
}

.entradas{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.entradas form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form input{
    width: 200px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    outline: none;
    font-size: 15px;
}

form button{
    background-color: #0069d9;
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
}
form button:hover {
    background-color: #0056b3; /* Um tom mais escuro de azul */
}

.conteudoEntradas, .conteudoTabela {
    box-shadow: 0px 4px 8px rgb(161, 161, 161);
}

.conteudoTabela{
    width: 96%;
    height: 4%;
    background-color: white;
    border-bottom: 1px solid rgba(109, 109, 109, 0.753);
    margin-top: 5px;
}

.conteudoTabela{
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

table{
    width: 100%;
    display: flex;
    table-layout: fixed;
    border-collapse: collapse;
    flex-direction: column;
    background-color: white; 
       
}

thead tr, tbody tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

thead th, tbody td {
    flex: 1; /* As colunas terão o mesmo tamanho */
    text-align: center;
    padding: 10px;
}

tbody td {
    border-top: 1px solid #cecece;
}

thead tr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


tbody tr {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

tbody td {
    flex: 1;
    text-align: center; 
    padding: 10px; 
    border-top: 1px solid #cecece;
}

td button{
    background-color: none;
    border: none;
    cursor: pointer;
}

td i{
    font-size: 18px;
}

#listaMotoristas{
    display: none;
}

.rolaLista{
    display: none;
}

tbody{
    display: block;
    max-height: 80%; /* Altura máxima do tbody */
    overflow-y: auto;
}

.modalConteiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    padding-top: 50px;
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
   
}

.modalResultados table {
    width: 100%;
    margin-top: 20px;
}

.modalResultados table, th, td {
    border-collapse: collapse;
    padding: 8px;
}

button#fecharModal {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    cursor: pointer;
}

#addPesquisar{
    background-color: #0069d9;
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
    margin-top: 15px;
}

#pesquisar{
    border: 1px solid black;
    width: 90%;
    height: 40px;
    padding-left: 8px;
    border-radius: 5px;
    margin-top: 15px;
}


@media(max-width : 1260px){

    form input{
        width: 150px;
        font-size: 12px;
        text-align: center;
    }

    #pesquisar{
        border: 1px solid black;
        border-radius: 8px;
        margin-top: 15px;
    }

    form button{
        width: 90px;
        height: 40px;
        font-size: 12px;
    }

    thead th , td{
        font-size: 12px;

    }

    td button{
       font-size: 12px;
    }

    td i{
        font-size: 12px;
    }

    tbody{
        display: block;
        max-height: 80%; /* Altura máxima do tbody */
        overflow-y: auto;
    }

}

@media(max-width : 940px){

    #pesquisar{
        border: 1px solid black;
        border-radius: 8px;
        margin-top: 15px;
    }

    .conteudoEntradas{
        display: flex;
        width: 95%;
        height: 50%;
    }

    form {
        width: 95%;
        display: flex;
        flex-direction: column;    
    }

    form input{
        width: 95%;
        margin-bottom: 20px;
        font-size: 15px;
    }

    table{
        width: 100%;
        display: block;   
    }

    thead{
        display: none;
    }

    tbody{
        display: block;
    }

    tbody tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #5e5e5e;
        padding: 10px;
    }

    tbody td {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        font-size: 12px;
        border-top: none;
        text-align: left; /* Alinha os itens à direita */
    }

    tbody td::before {
        content: attr(data-label);
        flex-basis: 40%;
        text-align: left;
        font-weight: bold;
        padding-right: 10px;
    }

    tbody{
        display: block;
        max-height: 100%; /* Altura máxima do tbody */
        overflow-y: auto;
    }
}

@media(max-width : 320px){

    #logo{
        font-size: 18px;
    }

    .conteudoEntradas{
        display: flex;
        width: 95%;
        height: 100%;
    }

    #listaMotoristas{
        display: flex;
        background-color: transparent;
        border: none;
        flex-direction: column;
        align-items: center;
    }

    .entradas{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    tbody{
        display: block;
        max-height: 100%; /* Altura máxima do tbody */
        overflow-y: auto;
    }

}



