@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6E6FA; /* Lavander */   
}

.conteudoEntradas{
    width: 96%;
    height: 10%;
    display: flex;
    margin-top: 15px;
    border-radius: 15px 15px 0 0;
    background-color: white;
}

.entradas{
    width: 100%;
    display: flex;
    align-items: center;
}

.entradas form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form input{
    width: 200px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    outline: none;
    font-size: 15px;
}

form button{
    background-color: #0069d9;
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
}
form button:hover {
    background-color: #0056b3; /* Um tom mais escuro de azul */
}

.conteudoEntradas, .conteudoTabela {
    box-shadow: 0px 4px 8px rgb(161, 161, 161);
}

.conteudoTabela{
    width: 96%;
    height: 4%;
    background-color: white;
    border-bottom: 1px solid rgba(109, 109, 109, 0.753);
    margin-top: 5px;
}

.conteudoTabela{
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

table{
    width: 100%;
    display: flex;
    table-layout: fixed;
    border-collapse: collapse;
    flex-direction: column;
    background-color: white;    
}

thead tr, tbody tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

thead th, tbody td {
    flex: 1; /* As colunas terão o mesmo tamanho */
    text-align: center;
    padding: 10px;
}

tbody td {
    border-top: 1px solid #cecece;
}

thead tr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


tbody tr {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

tbody td {
    flex: 1;
    text-align: center; 
    padding: 10px; 
    border-top: 1px solid #cecece;
}

td button{
    background-color: none;
    border: none;
    cursor: pointer;
}

td i{
    font-size: 18px;
}


